# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\documents école\Communicatie\E-portfolio\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
